
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/styles_login.css">
	<title>Login Page</title>
</head>
<body>

	<div class="login">
		<h1>Login</h1>
		  <form class="form-signin" method="post" action="/login">
			<input id="username" type="text" class="form-control"  placeholder="Username" name="username" required autofocus />
			<input id="password" type="password" class="form-control" placeholder="Password" name="password" required />
			<button id="loginButton" type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
			<button id="registerButton" type="submit" class="btn btn-primary btn-block btn-large">Register New Student.</button>
		  </form>
	</div>
	  
	  



	<script>
		let register = document.getElementById('registerButton')
	
		// Register a new user given a username and password
		register.addEventListener('click', () => {
			

			// First, disable the required fields from the 2 inputs
			document.getElementById('username').removeAttribute('required')
			document.getElementById('password').removeAttribute('required')

			// Second, set the username field to be register, and leave the password field blank
			document.getElementById('username').value = 'register'
			document.getElementById('password').value = ''


		})
	</script>
</body>

</html>
