
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/styles_login.css">
	<title>Login Page</title>
</head>
<body>

	<div class="login">
		<h1>Login</h1>
		  <form class="form-signin" method="post" action="/login">
			<input id="username" type="text" class="form-control"  placeholder="Username" name="username" required autofocus />
			<input id="password" type="password" class="form-control" placeholder="Password" name="password" required />
			<button id="loginButton" type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
		  </form>
	  </div>
	  
	  
</body>
</html>
