
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="styles_login.css">
	<title>Login Page</title>
	<link rel="shortcut icon" href="#">
	<link rel="stylesheet" type="text/css" href="styles_login.css">
</head>
<body>


	<div class="login">
		<h1>Login</h1>
		  
			<input id="username" type="text"  placeholder="Username" required="required" />
			<input id="passwordhash" type="text"  placeholder="Password" required="required" />
			<button id="loginButton" onclick="getLogin()" class="btn btn-primary btn-block btn-large">Let me in.</button>
		  
	  </div>
	  
	  
</body>
<script>
	function getLogin(){
		let username1= document.getElementById("username").value;
		let passwordhash1=document.getElementById("passwordhash").value;
		let xhttp=new XMLHttpRequest();
		
		xhttp.onreadystatechange=function(){
			if(this.readyState==4 & this.status==200)
			{	console.log(this.responseText);
				let user=JSON.parse(this.responseText);
				if(user.username==username1 & user.passwordhash==passwordhash1){
					console.log("Correct User");
					location.replace("http://localhost:8080/main.html");
				}
				else{
					window.alert("You are the bad one!")
				}
			}
		}
		xhttp.open("POST","http://localhost:8080/login/"+username1+"/"+passwordhash1,true);
		xhttp.send();
	}
</script>
</html>
