<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="/s/fragments.html :: headerfiles"></div>
	<meta charset="ISO-8859-1">
	<title>Student Page</title>
	<link rel="stylesheet" href="/s/css/student.css">
</head>
<body>

<div th:id="${student}" th:insert="/s/fragments.html :: navbar"></div>



<div id='main-menu-student'>
	<h1 id='main-menu-student-display'>Welcome ?.<br>Click on any of the options below or Log Out</h1>
	<div id='student-button-menu'>
	</div>
</div>

</body>
<script src="/s/js/student.js"></script>
</html>