<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="/s/fragments.html :: headerfiles"></div>
	<meta charset="ISO-8859-1">
	<title>Student Page</title>
	<link rel="stylesheet" href="/s/css/student.css">
</head>
<body>

<div th:id="${student}" th:insert="/s/fragments.html :: navbar"></div>


<div id='main-menu-student'>
	<h1 id='main-menu-student-display'>Welcome ?</h1>
	<div id='student-choose-quiz-menu'>
		<div class='list-item'><h1 id='label-quiz'>Quizzes To Be Taken</h1></div>
		<div class="list-group" th:each="quiz, iter: ${quizzes}">
			<div class="list-item quiz-list-item" th:attr="quizid=${quizIDs[iter.index]}, quiz=${quiz}">
				<a th:text="${quiz}" th:href="${'/s/question?quizid='+quizIDs[iter.index]}" class="list-group-item list-group-item-action"></a>
			</div>
		</div>
	</div>
	<div id='student-choose-grade-menu'>

	</div>
</div>

</body>
<script src="/s/js/student.js"></script>
</html>