<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Grade</title>
</head>
<body>
    <div id='main-container'>
    
        <div class="quiz-list">
            <div id="quiz-item">Your Grades:</div>
            <table id="quiz-table" class="table-striped table-dark">
            <thead>
            <tr>
                <th scope="col">Quiz</th>
                <th scope="col">Result</th>
            </tr>
            </thead>
            <tbody id="quiz-body"></tbody>
            </table>
        </div>

    </div>
</body>
<script src="/s/js/student_grade.js"></script>
</html>