<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/s/fragments.html :: headerfiles"></div>
    <meta charset="ISO-8859-1">
    <title>Student Grades</title>
    <link rel="stylesheet" href="/s/css/student_grade.css">
</head>
<body>

    <div th:id="${student}" th:insert="/s/fragments.html :: navbar"></div>

    <div id='main-container'>
    
        <div class="quiz-list">
            <div id="quiz-item">Your Grades:</div>
            <table id="quiz-table" class="table-striped table-dark">
            <thead>
            <tr>
                <th scope="col">Quiz</th>
                <th scope="col">Result</th>
            </tr>
            </thead>
            <tbody id="quiz-body"></tbody>
            </table>
        </div>

    </div>
</body>
<script src="/s/js/student_grade.js"></script>
</html>