<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="/s/fragments.html :: headerfiles"></div>
	<meta charset="ISO-8859-1">
	<title>Teacher Administration Page</title>
	<link rel="stylesheet" href="/s/css/teacher.css">
</head>
<body>

<div th:id="${teacher}" th:insert="/s/fragments.html :: navbar"></div>

<div class="modal fade" id="rowClickModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="rowClickModalTitle">Blank</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="rowClickModalBody">
        <div class="question" id="question-label"></div>
        <div class="answers">
        <ul id="answer-list">
        </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="main-container">

	<div class="student-list">
		<div class="list-item">Your Students:</div>
		<div class="list-group" th:each="student,iter: ${students}">
		<div 
			class="list-item student-list-item" 
			th:attr="studentid=${studentIDs[iter.index]},student=${student}">
			<a th:text="${student}" href="#" class="list-group-item list-group-item-action"></a>
		</div>
		</div>
	</div>
	
	<div class="quiz-list">
		<div id="tests-label" class="list-item">Quizzes</div>
		<div class="list-group" id="quizListGroup">
		</div>
	</div>
	
	<div class="quiz-results">
		<div id="quiz-score"></div>
		<table id="quiz-table" class="table-striped table-dark">
		<thead>
		<tr>
			<th scope="col">Question #</th>
			<th scope="col">Answer Chosen</th>
		</tr>
		</thead>
		<tbody id="quiz-body"></tbody>
		</table>
	</div>


</div>

</body>
<script src="/s/js/teacher.js"></script>
</html>