    .left {
        position: absolute;
        left: 0px;
    }
    .right {
        position: absolute;
        right: 0px;
    }
    .center {
        display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
    }