@charset "ISO-8859-1";

.main-container {
	width: 800px;
}

.question-block {
	padding: 20px;
	border-style: solid;
}

#quiz-name-input {
	width: 400px;
}

.answerDiv {
	display: flex;
}

.form-check {
	top: 6px;
}
