#main-menu-student-display{
    text-align: center;
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

#main-menu-student{
    margin: 5%;
}

#student-button-menu{
    margin: 3%;
}