@charset "ISO-8859-1";

.main-container {
	margin: 20px;
	width: 800px;
	display: grid;
	grid-template-columns: 200px 200px auto;
	gap: 20px 20px;
}

#tests-label {
	visibility: hidden;
}

.student-list {
	justify-self: end;
}

.list-item {
	margin-bottom: 20px;
}

.red {
	color: red;
}

.blue {
	color: blue;
}

.modal * {
	color: black;
}

.bold {
	font-weight: bold;
}

#quiz-table {
	width: 100%;
}