@charset "ISO-8859-1";

.main-container {
	margin: 20px;
	width: 800px;
	display: grid;
	grid-template-columns: 200px 100px auto;
	gap: 20px 20px;
}

.student-list {
	justify-self: end;
}

.student-list-item {
	margin-bottom: 20px;
}

.quiz-table {
	width: 100%;
}